@import url("https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #0e1e2a;
  scroll-behavior: smooth;
  max-width: 100%;
  max-height: 100%;
  text-rendering: optimizeLegibility;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-adjust: 100%;
  image-rendering: optimizeQuality;
  overflow-x: hidden;
}

:root {
  --blue: #0070f3;
  --defaultSpacing: 4.5rem; /*  64px */
  --defaultMargin: 1.5rem;
}

main {
  font-family: "Reddit Mono", monospace;
  max-width: 640px;
  margin: 0 auto var(--defaultSpacing);
}

header {
  text-align: center;
  margin-top: var(--defaultSpacing);
  padding-bottom: var(--defaultMargin);
  border-bottom: 1px solid #334155;
}

header h1 {
  color: #e2e2e2;
  font-size: 30px;
}

header small {
  color: #e2e2e2;
}

#quiz {
  counter-reset: quiz-item;
}

.quiz-item {
  color: #f3f6f4;
  border: 1px solid gray;
  border-radius: 6px;
  margin-top: var(--defaultSpacing);
}

.quiz-item h3::before {
  counter-increment: quiz-item;
  content: counter(quiz-item);
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.quiz-item h3 {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 1rem 20px;
}

.quiz-item dl {
  padding: 20px 24px;
  display: grid;
  gap: 8px;
}

.quiz-item dl dt {
  font-size: 14px;
  font-weight: 400;
  line-height: var(--defaultMargin);
  letter-spacing: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

input {
  all: unset;
  border: 1px solid #d0a92c;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

input:checked {
  border: 1px solid #be1e1e;
}

input:checked::before {
  cursor: pointer;
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: red;
  border-radius: 50%;
}

.result-component {
  color: #f3f6f4;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #be1e1e;
  padding: 12px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .quiz-item {
    margin: 20px;
  }
}